<ion-header>

  <ion-navbar>
    <ion-title>Tracking - {{dayOfWeek}}</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-card>

    <ion-card-header>
      Subjective Measurements
      <ion-icon float-right name="menu" large (click)="openSubjectiveMeasurementEditModal(subjectives)"></ion-icon>
    </ion-card-header>

    <ion-list>
      <ion-item-sliding justify-content-center align-items-center *ngFor="let listItem of subjectives">

        <button ion-item (click)="openSubjectiveItem(listItem)" *ngIf="listItem.active == 1">
          <ion-checkbox color="primary" disabled="true" *ngIf="listItem.value == null">
          </ion-checkbox>
          <ion-label style="opacity:1.0;">{{listItem.name}}{{displaySubjectiveValue(listItem)}}</ion-label>
          <ion-checkbox color="primary" disabled="true" checked="true" *ngIf="listItem.value != null">
          </ion-checkbox>
        </button>

        <ion-item-options>
          <button ion-button color="danger" (click)="deleteItem(listItem)">
            Edit
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-card>

  <ion-card>

    <ion-card-header>
      Intake Measurements
      <ion-icon float-right name="menu" large (click)="openIntakeMeasurementEditModal(intake)"></ion-icon>
    </ion-card-header>

    <ion-list>
      <ion-item-sliding justify-content-center align-items-center *ngFor="let listItem of intake">

        <button ion-item (click)="openIntakeItem(listItem)" *ngIf="listItem.active == 1">
          <ion-label style="opacity:1.0;">{{listItem.name}}</ion-label>
          <ion-checkbox color="primary" disabled="true" [(ngModel)]="listItem.value"></ion-checkbox>
        </button>

        <ion-item-options>
          <button ion-button color="danger" (click)="deleteItem(listItem)">
            Edit
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-card>

</ion-content>
