<ion-header>

  <ion-navbar>
    <ion-title>Tracking - {{dayOfWeek}}</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-card>

    <ion-card-header>
      Subjective Measurements
      <ion-icon float-right name="menu" large (click)="openMeasurementEditModal(subjectives)"></ion-icon>
    </ion-card-header>

    <ion-list>
      <ion-item-sliding *ngFor="let listItem of subjectives.items">

        <button ion-item (click)="openItem(listItem)" *ngIf="listItem.active == true">
          <ion-avatar item-start>
            <ion-icon name="checkbox"></ion-icon>
          </ion-avatar>
          <h2>{{listItem.name}}</h2>
        </button>

        <ion-item-options>
          <button ion-button color="danger" (click)="deleteItem(listItem)">
            Edit
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-card>

  <ion-card>
    <!--<ion-item>-->
      <!--<ion-avatar item-start>-->
        <!--<ion-icon name="water"></ion-icon>-->
      <!--</ion-avatar>-->
      <!--<h2>Intake Measurements</h2>-->
      <!--<p>What you consumed or performed</p>-->
    <!--</ion-item>-->

    <ion-card-header>
      Intake Measurements
    </ion-card-header>

    <ion-list>
      <ion-item-sliding *ngFor="let listItem of intake">
        <button ion-item (click)="openItem(listItem)">
          <ion-avatar item-start>
            <ion-icon name="checkbox"></ion-icon>
          </ion-avatar>
          <h2>{{listItem.name}}</h2>
        </button>

        <ion-item-options>
          <button ion-button color="danger" (click)="deleteItem(listItem)">
            Edit
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-card>

</ion-content>
